*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Pixel Digivolve', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face {
    font-family: 'Pixel Digivolve';
    src: url(../font/Pixel\ Digivolve.otf);
}
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: center url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(40,40,40)' viewBox='0 0 100 169.5'%3E%3Cpolygon points='50,34.75 93.5,59.75 93.5,109.75 50,134.75 6.5,109.75 6.5,59.75'%3E%3C/polygon%3E%3Cpolygon points='0,-50 43.5,-25 43.5,25 0,50 -43.5,25 -43.5,-25'%3E%3C/polygon%3E%3Cpolygon points='100,-50 143.5,-25 143.5,25 100,50 56.5,25 56.5,-25'%3E%3C/polygon%3E%3Cpolygon points='0,119.5 43.5,144.5 43.5,194.5 0,219.5 -43.5,194.5 -43.5,144.5'%3E%3C/polygon%3E%3Cpolygon points='100,119.5 143.5,144.5 143.5,194.5 100,219.5 56.5,194.5 56.5,144.5'%3E%3C/polygon%3E%3C/svg%3E"), linear-gradient(to bottom, rgba(3,169,244,0.8), rgba(48,63,159,0.8));
	background-size: 50px;
    height: 100%;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: navy;
    padding: 10px;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
}
.head {
    justify-content: space-between;
}
.section {
    justify-content: center;
}

.digimon-logo{
    max-width: 8rem;
}

nav a{
    color: white;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}